<div class="modal hide">
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="/">Fechar</a>
        </div>
        <form action="">
            <label for="search">Cidade</label>
                <div class="search field">
                    <input placeholder="Pesquise a cidade" type="text" name="search">
                    <a href="/search">
                        <img src="/assets/search.svg" alt="Buscar">
                    </a>
                </div>
            
        </form>
    </div>
</div>